<% if (messages.success) { %>
    <div class="flash flash-success"><%= messages.success %></div>
    <% } %>
    
    <% if (messages.error) { %>
        <div class="flash flash-error"><%= messages.error %></div>
        <% } %>
        
    
    
    <%- include('partials/shapes') %>
    <div class="main">
    <%- include('partials/navbar') %>
      

      <!-- intro section -->
      <section class="content">
        <div class="intro">
          <p class="hello">Hello<span class="punct">,</span></p>
          <p class="name">I<span class="punct">'</span>m Oscar Ekeyekwu</p>
          <p class="about">
            A Software Engineer; very passionate, committed and ever ready to
            collaborate and contribute to designing and developing innovative
            software that serve as creative solutions to better businesses and
            personal endeavors.
          </p>
          <div class="buttons">
            <a href="#about"
              ><button><i class="fa fa-user"></i> About Me</button></a
            >
            <a
              href="https://drive.google.com/file/d/1xEm2bRdgf-A1bwVdS9GY3Xt9VsjVwibd/view?usp=sharing"
              ><button><i class="fa fa-download"></i> Resume</button></a
            >
            <a
              href="#contact"
              ><button><i class="fa fa-envelope"></i> Send me a Message</button></a
            >
          </div>

          <!-- socials -->
          <div class="socials">
            <p>Let's Connect ...</p>
            <div class="social-links">
              <ul class="social-icons-list">
                <li class="social-link">
                  <a href="https://github.com/oscar-ekeyekwu" target="_blank"
                    ><i class="fab fa-github"></i
                  ></a>
                </li>
                <li class="social-link">
                  <a href="https://linkedin.com/in/ekeyekwu-oscar-393896198"
                    ><i class="fab fa-linkedin"></i
                  ></a>
                </li>
                <li class="social-link">
                  <a href="https://twitter.com/ekeyekwuoscar" target="_blank"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="mail">
              <i class="fas fa-email"></i> Email:
              <a href="mailto:oscarekeyekwu@gmail.com"
                >oscarekeyekwu@gmail.com</a
              >
            </div>
          </div>
        </div>
        <div class="img-container">
          <!-- <img src="/images/Profile.jpeg" width="25" alt="profile photo" /> -->
        </div>
      </section>

      <!-- about section -->
      <section class="about" id="about">
        <h4 class="section-title">About Me</h4>
        <div class="about-container">
          <!-- experiences -->
          <div class="about-detail">
            <h3 class="title">Experience</h3>
            <div class="desc">
              <div class="exp-wrap">
                <!-- exp 0 -->
                <div class="exp-block">
                  <div class="exp-ico">
                    <i class="fas fa-briefcase"></i>
                  </div>
                  <div class="exp-header">
                    <h3>Technical Consultant / Software Developer</h3>
                    <p>Nov 2020 - Present</p>
                    <p>Fulltime</p>
                  </div>
                  <div class="exp-content">
                    <h4>Gems Consulting Company Limited - Lagos, Nigeria</h4>
                    <ul>
                      <li>
                        Developing software and APIs using C#, PHP & JavaScript
                      </li>
                      <li>
                        Building & Intergrating web services for Microsoft ERP systems
                      </li>
                      <li>
                        Intergrating payment gateways on web portals
                      </li>
                      <li>
                        Data synchronization/migration between Microsoft ERP systems using designated tools and technologies.
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /exp 0 -->
                <!-- exp 1 -->
                <div class="exp-block">
                  <div class="exp-ico">
                    <i class="fas fa-briefcase"></i>
                  </div>
                  <div class="exp-header">
                    <h3>Technical Consultant / Software Developer</h3>
                    <p>Nov 2019 - Oct 2020.</p>
                    <p>Internship (NYSC)</p>
                  </div>
                  <div class="exp-content">
                    <h4>Gems Consulting Company Limited - Lagos, Nigeria</h4>
                    <ul>
                      <li>
                        Build software using Microsoft Power Platform and
                        SharePoint for clients.
                      </li>
                      <li>
                        Contributed to building solutions (software) for
                        clients.
                      </li>
                      <li>
                        Support clients and help resolve their software
                        technical problems.
                      </li>
                      <li>
                        Assisted in research, documentations and technical
                        writing for some software developed for clients.
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /exp 1 -->
                <!-- exp 2 -->
                <div class="exp-block">
                  <div class="exp-ico">
                    <i class="fas fa-briefcase"></i>
                  </div>
                  <div class="exp-header">
                    <h3>Backend Developer</h3>
                    <p>Jun 2020 - Aug 2020.</p>
                    <p>Internship</p>
                  </div>
                  <div class="exp-content">
                    <h4>Hotels NG Internship (HNGi7) - Remote</h4>
                    <ul>
                      <li>
                        Collaborated with fellow interns to build software and
                        APIs.
                      </li>
                      <li>
                        Built Software packages (JavaScript SDK) for APIs for
                        easy use of the APIs
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /exp 2 -->
                <!-- exp 3 -->
                <div class="exp-block">
                  <div class="exp-ico">
                    <i class="fas fa-briefcase"></i>
                  </div>
                  <div class="exp-header">
                    <h3>Systems Technician</h3>
                    <p>June 2017 - Dec 2017.</p>
                    <p>Internship</p>
                  </div>
                  <div class="exp-content">
                    <h4>
                      Nigeria Deposit Insurance Corporation - Lagos, Nigeria
                    </h4>
                    <ul>
                      <li>
                        Participated in system maintenance and application
                        software management for the organization.
                      </li>
                      <li>
                        Provided technical support to staff of the organization,
                        troubleshooting network, hardware and software issues.
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /exp 3 -->
                <!-- exp 4 -->
                <div class="exp-block">
                  <div class="exp-ico">
                    <i class="fas fa-briefcase"></i>
                  </div>
                  <div class="exp-header">
                    <h3>Software Developer</h3>
                    <p>Jan 2017 - Jun 2017.</p>
                    <p>Internship</p>
                  </div>
                  <div class="exp-content">
                    <h4>Jetlink Nigeria Limited - Lagos, Nigeria</h4>
                    <ul>
                      <li>
                        Understudied the clients’ software development requests
                        and worked on the knowledge gained to develop a document
                        that would be used for the software development.
                        Documents like flow chart design, minimalistic
                        algorithms.
                      </li>
                      <li>
                        Trained, studied and got acquainted with software
                        developed for clients to write technical documents like
                        user guide/manual for clients and/or train them on how
                        to use the software.
                      </li>
                      <li>
                        Assisted in software deployment and hardware
                        installation for clients.
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /exp 4 -->
              </div>
            </div>
          </div>

          <!-- skills -->
          <div class="about-detail">
            <h3 class="title">Skills</h3>
            <div class="desc">
              <ul>
                <li>Excellent teamwork and interpersonal skills.</li>
                <li>
                  Ability to learn new skills quickly and also on the job.
                </li>
                <li>Good communication skill, both written and oral.</li>
                <li>
                  Good knowledge of JavaScript, PHP (Laravel), Java, C#, HTML
                  and CSS.
                </li>
                <li>Good knowledge of RDBMS & NoSQL Databases</li>
                <li>Excellent troubleshooting skill.</li>
              </ul>
            </div>
          </div>

          <!-- tools and technologies -->
          <div class="about-detail">
            <h3 class="title">Tools & Technologies</h3>
            <div class="desc">
              <ul>
                <li><span>Programming Languages:</span> PHP, JavaScript</li>
                <li><span>Database:</span> MySql, MongoDB</li>
                <li>
                  <span>Tools:</span> Github, Adobe XD, Visual Studio Code,
                  Oracle VirtualBox, Microsoft Visual Studio, Trello, Swagger,
                  Figma ...
                </li>
                <li><span> Technologies:</span> Git, Docker, Vagrant</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- portfolio section -->
      <section class="portfolio" id="projects">
        <h4 class="section-title">Projects</h4>
        <div class="portfolio-container">
          <div class="portfolio-details">
            <div class="project-img-cont">
              <img src="/images/projects/porfolio.png" alt="porfolio" />
            </div>
            <div class="project">
              <h3 class="project-name">Portfolio Website</h3>
              <h5 class="project-category">
                Website | HTML, CSS, JavaScript | Personal
              </h5>
              <p class="project-desc">
                My Portfolio Website is a simple one page website built with
                only HTML, CSS and JavaScript without any framework or library.
                The website showcases my bio, experiences, skills, tool &
                technologies I use and the projects I have completed or
                contributed to.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- contact me section -->
      <section class="contact-me" id="contact">
        <h4 class="section-title">Contact Me</h4>
        <div class="contact-container">
            <form action="/contact" id="contact-form" method="POST">
                <div class="form-group">
                    <!-- <label for="name">Name</label> -->
                    <input type="text" name="name" id="" class="form-input" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <!-- <label for="name">Email Address</label> -->
                    <input type="email" name="email" id="" class="form-input" placeholder="Enter your email address">
                </div>
                <div class="form-group">
                    <!-- <label for="name">Message</label> -->
                    <textarea name="message" id="" cols="30" rows="10" class="form-input" placeholder="Type in your message"></textarea>
                </div>

                <div class="form-group buttons">
                   <button type="submit">Send</button>
                </div>
            </form>
        </div>
      </section>

      <!-- footer section -->
    <%- include('partials/footer') %>
      
    </div>


  